In [1]:
from pydataset import data
import pandas as pd
import numpy as np
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split

initiated datasets repo at: C:\Users\Mohammad\.pydataset/

In [2]:
titanic = data('titanic')
titanic.sample(5)

          class     age    sex survived
758   3rd class  adults    man       no
722   3rd class  adults    man       no
1202  3rd class  adults  women       no
347   2nd class  adults    man       no
278   1st class  adults  women      yes

In [5]:
# Feature Engineering (one hot encoding) fitting
titanic = pd.get_dummies(titanic, drop_first=True)
titanic.sample(5)

     class_2nd class  class_3rd class  age_child  sex_women  survived_yes
578                1                0          0          1             0
225                0                0          0          1             1
301                0                0          0          1             1
517                1                0          0          1             1
711                0                1          0          0             0

In [6]:
# Test Train split
X_train, X_test, y_train, y_test = train_test_split(titanic.drop('survived_yes', axis=1), titanic['survived_yes'])

In [9]:
# Train model
LogReg= LogisticRegression()
LogReg.fit(X_train, y_train)

LogisticRegression()

In [10]:
# Predect if a class 1 child age girl survived
LogReg.predict(np.array([[0, 0, 1, 1]]))[0]

1

In [11]:
# Predict if a class 3 adult-age male survived
LogReg.predict(np.array([[0, 1, 0, 0]]))[0]

0

In [12]:
# Scoring the model
LogReg.score(X_test, y_test)

0.7750759878419453